.section {

}

.section ul {
  padding-left: 1em;
  list-style-type: disc;
}

.stateful-components > header {
  padding: 1em 0px;
}

.stateful-components a {
  color: rgb(76, 4, 143);
  font-weight: 600;
  text-decoration: underline;
}
